<!DOCTYPE html>
<html>
  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "signout" %>
      <% else %>
        <%= button_to "Sign in with Wesleyan Email", "auth/google_oauth2/"%>
        <%=link_to image_tag("/assets/icons/wesleyan.png", :onmouseover =>"this.src='#{asset_path('/assets/icons/wesleyan_hover.png')}'", :onmouseout =>"this.src='#{asset_path('/assets/icons/wesleyan.png')}'", :onclick =>"this.src='#{asset_path('/assets/icons/wesleyan_click.png')}'"), "/auth/google_oauth2"%>
        <%= link_to "Continue as Guest", links_path %>
      <% end %>
    </div>
    <div>
        <%= session[:error] %>
        <%= session[:error] = nil%>
    </div>
  </body>
</html>