<% @inspirations[session[:insp_page_num]].each do |inspir| %>
   <div class = <%= inspir.name.gsub(" ", "_") %><%= inspir.upvotes %> id = "inspiration" style="display: block"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= inspir.name + "votes" %>> 
      <div class = "inline" id = <%= inspir.name + "thumbup" %>>
      <% if current_user %>
      <% if inspir.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(inspir,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(inspir,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= inspir.url %> > <%= inspir.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=inspir.name%> > 
      <div class = "animated zoomIn"> 
      <%= inspir.upvotes %> 
      
      </div>
      </div>
     <% if current_user %>
      <% if current_user.admin %>   
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(inspir), remote: true, method: :put %>
        </div>
      <% end %>
      <% end %>
  </div>
  <% end %>
  <div id="inspirationLink" class = "zzzz" style="display: block">
        <% if @inspirations.length>1  %>
        view more:
        <% end %>
        <% if session[:insp_page_num]>0%>
        <%= link_to '< prev', page_path(insp_incre: -1), remote: true %>
        <% end %>
        <% if session[:insp_page_num]>0 && session[:insp_page_num]<@inspirations.length-1%>
        |
        <% end %>
        <% if session[:insp_page_num]<@inspirations.length-1%>
        <%= link_to 'next >', page_path(insp_incre: 1), remote: true %>
        <% end %>
      </div>