<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
<head>
  <link rel="stylesheet" href="animate.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class = "animated fadeIn"> 
  <!--<div class = "mini" style= "color: #FFFFFF" > Google </div>-->

   <div align = "right">
      <% if current_user %>
        <% if current_user.admin%>
            <% if @number_of_unapproved!=0 %>
            <%=link_to image_tag("/assets/bell_notif_alert.png", width:25, height:25, alt: "noti"), approval_path %>
            <% else %>
            <%=link_to image_tag("/assets/bell_notif.png", width:25, height:25, alt: "noti"), approval_path %>
            <% end %>
        <% end %>
        <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", "auth/google_oauth2/" %>
      <% end %>
   </div>
   
   <!-- PCSE right
   <div class="row">
   <div class="col-xs-7 col-xs-offset-2">
   <h1><b><div align="right"><font face="Lato", color="#99012"><br>Patricelli Center for Social Entrepreneurship</font></div></b></h1>
   </div>
   <div class="col-xs-2">
  <h1><b><div align="left"><font face="Roboto Mono", color="#000000", size="30">PC<br>SE</font></div></b></h1>
   </div>
   </div>-->
   <div class="row">
   <div class="col-xs-1 col-xs-offset-2">
    <h1><b><div align="right"><font face="Roboto Mono", color="#000000", size="30">PC<br>SE</font></div></b></h1>
   </div>
   <div class="col-xs-9">
   <h1><div align="left"><font face="Work Sans", color="#99012"><br>PATRICELLI CENTER FOR SOCIAL ENTREPRENEURSHIP</font></div></h1>
   </div>
   </div>
  
  
  
  <div class="row">
<div class="col-xs-4 col-xs-offset-2">
<div align="left">
    
   <div class="leftalign">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Sort By <b class="caret"></b></a>
            <ul class="dropdown-menu" id = "sorters" role="menu">
                <li> <button id = "sortByName" onclick= "sort_name()"> Name </button>
                </li> 
                <li>
                <button id = "sortByVotes" onclick = "sort_upvotes()"> Upvotes </button>
                </li>
            </ul>
      </div>
    </div>
    
  <div id = "sortBy2" class = "leftalign">
    <button id = "internships" type="button" onclick= "toggleHidden(internship)" class="btn btn-default">Get Smart & Get Informed</button>
  </div>
  
  <div id = "Internships"> 
   <% @internships[session[:intern_page_num].to_i].each do |intern| %>
   <div class = <%= intern.name.gsub(" " , "_") %><%= intern.upvotes %>  id = "internship" style="display: none"> 
      <!--Vote Button-->

      <div class = "inline" id = <%= intern.name + "votes" %>> 
      <div class = "inline" id = <%= intern.name + "thumbup" %>>
      <% if current_user %>
      <% if intern.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20", alt: "upvote"), upvote_link_path(intern,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20", alt: "upvote" , class: "upvote"), upvote_link_path(intern,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= intern.url %> > <%= intern.name %> </a> 
      </div>
      
     
      <!--Vote Count-->
      <div class = "inline" id = <%=intern.name%> > 
      <div class = "animated zoomIn"> 
      <%= intern.upvotes %> 
      </div>
      </div>
      
        <% if current_user %>
      <% if current_user.admin %>
        <div class = "inlinedelete" id = "report"> 
        <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(intern), remote: true, method: :put %>
        </div>
      <% end %>
      <% end %>
      
  </div>
  
      <% end unless @internships.empty? %>
      
        <% if @internships.length>1  %>
        <div id="internshipLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:intern_page_num].to_i > 0%>
        <%= link_to '< prev', page_path(intern_incre: -1), remote: true %>
        <% end %>
        <% if session[:intern_page_num].to_i>0 && session[:intern_page_num].to_i<@internships.length-1%>
        |
        <% end %>
        <% if session[:intern_page_num].to_i<@internships.length-1%>
        <%= link_to 'next >', page_path(intern_incre: 1), remote: true %>
         </div>
        <% end %>
     
  
  </div>
 

  
  <div class = "leftalign">
    <button id = "grants" type="button" onclick="toggleHidden(grant)" class="btn btn-default">Get Connected & Get Taught</button>
  </div>
  
  
  <div id = "Grants"> 
   <% @grants[session[:grant_page_num].to_i].each do |grant| %>
   <div class = <%= grant.name.gsub(" ", "_") %><%= grant.upvotes %> id = "grant" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= grant.name + "votes" %>> 
      <div class = "inline" id = <%= grant.name + "thumbup" %>>
      <% if current_user %>
      <% if grant.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(grant,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(grant,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= grant.url %> > <%= grant.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=grant.name%> > 
    
          <div id = <%= grant.upvotes %> class = "animated zoomIn"> 
          <%= grant.upvotes %> 
          
          </div>
          
      </div>
      <% if current_user %>
      <% if current_user.admin %>
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(grant), remote: true, method: :put %>
        </div>
        <% end %>   
      <% end %>    
   </div>
  <% end unless @grants.empty? %>
  
  
        <% if @grants.length>1  %>
        <div id="grantLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:grant_page_num].to_i>0%>
        <%= link_to '< prev', page_path(grant_incre: -1), remote: true %>
        <% end %>
        <% if session[:grant_page_num].to_i>0 && session[:grant_page_num].to_i<@grants.length-1%>
        |
        <% end %>
        <% if session[:grant_page_num].to_i<@grants.length-1%>
        <%= link_to 'next >', page_path(grant_incre: 1), remote: true %>
         </div>
        <% end %>
     
  </div>
  
  
  
  <div class = "leftalign">
    <button id = "jobs" type="button" onclick="toggleHidden(job)" class="btn btn-default">Get Experience</button>
  </div>
  
  <div id = "Jobs"> 
   <% @jobs[session[:job_page_num].to_i].each do |job| %>
   <div class = <%= job.name.gsub(" ", "_") %><%= job.upvotes %>  id = "job" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= job.name + "votes" %>> 
      <div class = "inline" id = <%= job.name + "thumbup" %>>
      <% if current_user %>
      <% if job.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(job,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(job,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= job.url %> > <%= job.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=job.name%> > 
      <div class = "animated zoomIn"> 
      <%= job.upvotes %> 
     
      </div>
      </div>
         <% if current_user %>
      <% if current_user.admin %>
         <div class = "inline" id = "report"> 
           <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(job), remote: true, method: :put %>
         </div>
       <% end %>
       <% end %>
  </div>
  <% end unless @jobs.empty? %>
 
        <% if @jobs.length>1  %>
         <div id="jobLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:job_page_num].to_i>0%>
        <%= link_to '< prev', page_path(job_incre: -1), remote: true %>
        <% end %>
        <% if session[:job_page_num].to_i>0 && session[:job_page_num].to_i<@jobs.length-1%>
        |
        <% end %>
        <% if session[:job_page_num].to_i<@jobs.length-1%>
        <%= link_to 'next >', page_path(job_incre: 1), remote: true %>
        </div>
        <% end %>
      
  </div>
  
  
  
   <div class = "leftalign">
    <button id = "inspirations" type="button" onclick="toggleHidden(inspiration)" class="btn btn-default">Get Acclimated & Inspired</button>
  </div>
  
 <div id = "Inspiration"> 
   <% @inspirations[session[:insp_page_num].to_i].each do |inspir| %>
   <div class = <%= inspir.name.gsub(" ", "_") %><%= inspir.upvotes %> id = "inspiration" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= inspir.name + "votes" %>> 
      <div class = "inline" id = <%= inspir.name + "thumbup" %>>
      <% if current_user %>
      <% if inspir.upvoters.to_s.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(inspir,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(inspir,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= inspir.url %> > <%= inspir.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=inspir.name%> > 
      <div class = "animated zoomIn"> 
      <%= inspir.upvotes %> 
      
      </div>
      </div>
       <% if current_user %>
      <% if current_user.admin %>
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(inspir), remote: true, method: :put %>
        </div>
      <% end %>
      <% end %>
  </div>
  <% end unless @inspirations.empty? %>
  
        <% if @inspirations.length>1  %>
        <div id="inspirationLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:insp_page_num].to_i>0%>
        <%= link_to '< prev', page_path(insp_incre: -1), remote: true %>
        <% end %>
        <% if session[:insp_page_num].to_i>0 && session[:insp_page_num].to_i<@inspirations.length-1%>
        |
        <% end %>
        <% if session[:insp_page_num].to_i<@inspirations.length-1%>
        <%= link_to 'next >', page_path(insp_incre: 1), remote: true %>
        </div>
        <% end %>
      
  </div>
  
  
  <div class = "leftalign">
    <button id = "others" type="button" onclick="toggleHidden(other)" class="btn btn-default">Get Organized</button>
  </div>
  
   <div id = "Other"> 
   <% @other[session[:other_page_num].to_i].each do |oth| %>
   <div class = <%= oth.name.gsub(" ", "_") %><%= oth.upvotes %> id = "other" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= oth.name + "votes" %>> 
      <div class = "inline" id = <%= oth.name + "thumbup" %>>
      <% if current_user %>
      <% if oth.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(oth,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(oth,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= oth.url %> > <%= oth.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=oth.name%> > 
      <div class = "animated zoomIn"> 
      <%= oth.upvotes %> 
      
      </div>
      </div>
        <% if current_user %>
      <% if current_user.admin %>
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(oth), remote: true, method: :put %>
        </div>
     <%end %>
     <%end %>
  </div>
  <% end unless @other.empty? %>
 
        <% if @other.length>1  %>
         <div id="otherLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:other_page_num].to_i>0%>
        <%= link_to '< prev', page_path(other_incre: -1), remote: true %>
        <% end %>
        <% if session[:other_page_num].to_i>0 && session[:other_page_num].to_i<@other.length-1%>
        |
        <% end %>
        <% if session[:other_page_num].to_i<@other.length-1%>
        <%= link_to 'next >', page_path(other_incre: 1), remote: true %>
        </div>
        <% end %>
      
  </div>
  
  <div class = "leftalign">
    <button id = "fundedB" type="button" onclick="toggleHidden(funded)" class="btn btn-default">Get Funded</button>
  </div>
  
   <div id = "Funded"> 
   <% @funded[session[:fund_page_num].to_i].each do |fund| %>
   <div class = <%= fund.name.gsub(" ", "_") %><%= fund.upvotes %> id = "funded" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= fund.name + "votes" %>> 
      <div class = "inline" id = <%= fund.name + "thumbup" %>>
      <% if current_user %>
      <% if fund.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(fund,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(fund,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= fund.url %> > <%= fund.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=fund.name%> > 
      <div class = "animated zoomIn"> 
      <%= fund.upvotes %> 
      
      </div>
      </div>
       <% if current_user %>
      <% if current_user.admin %>
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(fund), remote: true, method: :put %>
        </div>
     <%end %>
     <% end %>
  </div>
  <% end unless @funded.empty? %>
  
        <% if @funded.length>1  %>
        <div id="fundedLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:fund_page_num].to_i>0%>
        <%= link_to '< prev', page_path(fund_incre: -1), remote: true %>
        <% end %>
        <% if session[:fund_page_num].to_i>0 && session[:fund_page_num].to_i<@funded.length-1%>
        |
        <% end %>
        <% if session[:fund_page_num].to_i<@funded.length-1%>
        <%= link_to 'next >', page_path(fund_incre: 1), remote: true %>
         </div>
        <% end %>
     
  </div>

  <div class = "leftalign">
    <button id = "hiredB" type="button" onclick="toggleHidden(hired)" class="btn btn-default">Get Hired</button>
  </div>
  
   <div id = "Hired"> 
   <% @hired[session[:hired_page_num].to_i].each do |hir| %>
   <div class = <%= hir.name.gsub(" ", "_") %><%= hir.upvotes %> id = "hired" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= hir.name + "votes" %>> 
      <div class = "inline" id = <%= hir.name + "thumbup" %>>
      <% if current_user %>
      <% if hir.upvoters.split(';').include?("#{current_user.id}") %> 
      <%= link_to image_tag("uparrowtrue.png",:size => "20x20"), upvote_link_path(hir,user_id: current_user.id), remote: true, method: :put %>
      <% else %>
      <%= link_to image_tag("uparrow.png",:size => "20x20"), upvote_link_path(hir,user_id: current_user.id), remote: true, method: :put %>
      <% end %>
      <% end %>
      </div>
      <!--URL NAME URL-->
      <a href= <%= hir.url %> > <%= hir.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=hir.name%> > 
      <div class = "animated zoomIn"> 
      <%= hir.upvotes %> 
      
      </div>
      </div>
       <% if current_user %>
      <% if current_user.admin %>
        <div class = "inline" id = "report"> 
          <%= link_to image_tag("deletex.png",:size => "10x10" ), remove_link_path(hir), remote: true, method: :put %>
        </div>
     <%end %>
     <% end %>
  </div>
  <% end unless @hired.empty? %>
  
        <% if @hired.length>1  %>
        <div id="hiredLink" class="zzzz" style="display: none">
        view more:
        <% end %>
        <% if session[:hired_page_num].to_i>0%>
        <%= link_to '< prev', page_path(hired_incre: -1), remote: true %>
        <% end %>
        <% if session[:hired_page_num].to_i>0 && session[:hired_page_num].to_i<@hired.length-1%>
        |
        <% end %>
        <% if session[:hired_page_num].to_i<@hired.length-1%>
        <%= link_to 'next >', page_path(hired_incre: 1), remote: true %>
         </div>
        <% end %>
     
  </div>
    <div class = "leftalign" id = "addlink">
    <%= link_to "Request a Link", new_link_path  %> 
  </div>
  <div class = "leftalign" id = "reportlink">
    <%= link_to "Report a Link", report_path, {:style=>'color:#E42217;'} %>
  </div>
</div>
</div>
<div class="col-xs-3 col-xs-offset-1"><div align="left">
<p><font face="Work Sans", size="4">Wesleyan’s Patricelli Center for Social Entrepreneurship supports students and alumni interested in creating and sustaining programs, businesses, and organizations that advance the public good. We offer workshops and trainings, specialized counseling and networking services, grants, and incubator workspace on Wesleyan's campus. Our Social Entrepreneurship Resource Center is a library of links and resources for changemakers and social entrepreneurs at all stages. Inclusion does not indicate endorsement.
</font>
</p>
</div>
</div>
</div>


 <div class = "row">
  <div>
      <%= session[:new_message] %>
      <%= session[:new_message] = nil%>
  </div>
  <div id = "errors2" class = "animated flash" align = "center">
        <%= session[:error] %>
        <%= session[:error] = nil%>
  </div>
  
  <div id = "errors2" class = "animated flash" align = "center">
        <%= session[:error2] %>
        <%= session[:error2] = nil%>
  </div>
  
  <div id = "report" class = "animated fadeInDown" align = "center">
        <%= session[:reported] %>
        <%= session[:reported] = nil%>
  </div>
  
 </div>
</div>
  <script>
  
    
    
    function toggleHidden(id) {
      var newId = id[0] ? id[0].id+"Link" : id.id+"Link"
      if ($(id).css('display') == "none") {
          $(id).addClass('animated fadeIn');
          //$("#"+newId).addClass('animated fadeIn');
          $(id).css('display', 'block') ;
          $("#"+newId).css('display', 'block') ;
          
      }
      else {
          $(id).css('display', 'none') 
          $("#"+newId).css('display', 'none') 
          
      }
     
    }
    
      function sort_name() {
        var intern = document.getElementById("Internships");
        var grant = document.getElementById("Grants");
        var inspiration = document.getElementById("Inspiration");
        var job = document.getElementById("Jobs");
        var other = document.getElementById("Other");
        var hired = document.getElementById("Hired");
        var funded = document.getElementById("Funded");
        
        [].map.call( intern.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        intern.appendChild( elem );
        });
        
        [].map.call( grant.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        grant.appendChild( elem );
        });
        
        [].map.call( inspiration.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        inspiration.appendChild( elem );
        });
        
        [].map.call( job.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        job.appendChild( elem );
        });
        
        [].map.call( other.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        other.appendChild( elem );
        });
        
        [].map.call( hired.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        hired.appendChild( elem );
        });
        
        [].map.call( funded.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        funded.appendChild( elem );
        });
    }
    
    function sort_upvotes() {
        
        var intern = document.getElementById("Internships");
        var grant = document.getElementById("Grants");
        var inspiration = document.getElementById("Inspiration");
        var job = document.getElementById("Jobs");
        var other = document.getElementById("Other");
        var hired = document.getElementById("Hired");
        var funded = document.getElementById("Funded");
          
        [].map.call(grant.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        grant.appendChild( elem );
        });
        
        [].map.call(intern.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        intern.appendChild( elem );
        });
        
        [].map.call(job.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        job.appendChild( elem );
        });
        
        [].map.call(inspiration.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        inspiration.appendChild( elem );
        });
        
        [].map.call(other.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        other.appendChild( elem );
        });
        
        [].map.call(hired.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        hired.appendChild( elem );
        });
        
        [].map.call(funded.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        funded.appendChild( elem );
        });
    }
    
        
  
  
    
  </script>
  

  
</body>
</html>