<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
<head>
  <link rel="stylesheet" href="animate.min.css">
</head>

<body>

  <!--<div class = "mini" style= "color: #FFFFFF" > Google </div>-->

   <div align = "right">
      <% if current_user %>
        <% if current_user.admin%>
            <div id="bubble"><%= @number_of_unapproved %></div>
            <%=link_to image_tag("/assets/noti.png", width:30, height:30, id: "noti"), approval_path %>
            
        <% end %>
        <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in", "auth/google_oauth2/" %>
      <% end %>
   </div>
   
   <div class = "logo"> 
  <%= image_tag("imgres.jpg", alt: "logo") %> 
  <h1><b><center><font color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b></h1>
   </div>
   
    <div class="leftalign">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Sort By <b class="caret"></b></a>
            <ul class="dropdown-menu" id = "sorters" role="menu">
                <li> <button id = "sortByName" onclick= "sort_name()"> Name </button>
                </li> 
                <li>
                <button id = "sortByVotes" onclick = "sort_upvotes()"> Upvotes </button>
                </li>
            </ul>
      </div>
    </div>

  <div class = "leftalign">
    <button id = "internships" type="button" onclick= "toggleHidden(internship)" class="btn btn-default">Internships</button>
  </div>
  
  <div id = "Internships"> 
   <% @internships.each do |intern| %>
   <div class = <%= intern.name.gsub(" " , "_") %><%= intern.upvotes %>  id = "internship" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= intern.name + "votes" %>> 
      <%= link_to image_tag("imgres.png",:size => "20x20" ), upvote_link_path(intern), remote: true, method: :put %>
      <!--URL NAME URL-->
      <a href= <%= intern.url %> > <%= intern.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=intern.name%> > 
      <div class = "animated zoomIn"> 
      <%= intern.upvotes %> 
      
      </div>
      </div>
      <div class = "inline" id = "report"> 
      <%= link_to "Report", report_link_path(intern)  %>
      </div>
  </div>
  <% end %>
  </div>

  
  <div class = "leftalign">
    <button id = "grants" type="button" onclick="toggleHidden(grant)" class="btn btn-default">Grants</button>
  </div>
  
  
  <div id = "Grants"> 
   <% @grants.each do |grant| %>
   <div class = <%= grant.name.gsub(" ", "_") %><%= grant.upvotes %> id = "grant" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= grant.name + "votes" %>> 
      <%= link_to image_tag("imgres.png",:size => "20x20" ), upvote_link_path(grant), remote: true, method: :put %>
      <!--URL NAME URL-->
      <a href= <%= grant.url %> > <%= grant.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=grant.name%> > 
    
          <div id = <%= grant.upvotes %> class = "animated zoomIn"> 
          <%= grant.upvotes %> 
          
          </div>
          
      </div>
          <div class = "inline" id = "report"> 
      <%= link_to "Report", report_link_path(grant)  %>
      </div>
   </div>
  <% end %>
  </div>
  
  
  
  <div class = "leftalign">
    <button id = "jobs" type="button" onclick="toggleHidden(job)" class="btn btn-default">Jobs</button>
  </div>
  
  <div id = "Jobs"> 
   <% @jobs.each do |job| %>
   <div class = <%= job.name.gsub(" ", "_") %> <%= job.upvotes %>  id = "job" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= job.name + "votes" %>> 
      <%= link_to image_tag("imgres.png",:size => "20x20" ), upvote_link_path(job), remote: true, method: :put %>
      <!--URL NAME URL-->
      <a href= <%= job.url %> > <%= job.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=job.name%> > 
      <div class = "animated zoomIn"> 
      <%= job.upvotes %> 
     
      </div>
      </div>
          <div class = "inline" id = "report"> 
       <%= link_to "Report", report_link_path(job)  %>
       </div>
  </div>
  <% end %>
  </div>
  
  
  
   <div class = "leftalign">
    <button id = "inspirations" type="button" onclick="toggleHidden(inspiration)" class="btn btn-default">Inspiration</button>
  </div>
  
 <div id = "Inspiration"> 
   <% @inspiration.each do |inspir| %>
   <div class = <%= inspir.name.gsub(" ", "_") %><%= inspir.upvotes %> id = "inspiration" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= inspir.name + "votes" %>> 
      <%= link_to image_tag("imgres.png",:size => "20x20" ), upvote_link_path(inspir), remote: true, method: :put %>
      <!--URL NAME URL-->
      <a href= <%= inspir.url %> > <%= inspir.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=inspir.name%> > 
      <div class = "animated zoomIn"> 
      <%= inspir.upvotes %> 
      
      </div>
      </div>
          <div class = "inline" id = "report"> 
      <%= link_to "Report", report_link_path(inspir)  %>
      </div>
  </div>
  <% end %>
  </div>
  
  
  <div class = "leftalign">
    <button id = "others" type="button" onclick="toggleHidden(other)" class="btn btn-default">Other</button>
  </div>
  
   <div id = "Other"> 
   <% @other.each do |oth| %>
   <div class = <%= oth.name.gsub(" ", "_") %><%= oth.upvotes %> id = "other" style="display: none"> 
      <!--Vote Button-->
      <div class = "inline" id = <%= oth.name + "votes" %>> 
      <%= link_to image_tag("imgres.png",:size => "20x20" ), upvote_link_path(oth), remote: true, method: :put %>
      <!--URL NAME URL-->
      <a href= <%= oth.url %> > <%= oth.name %> </a> 
      </div>
      
      <!--Vote Count-->
      <div class = "inline" id = <%=oth.name%> > 
      <div class = "animated zoomIn"> 
      <%= oth.upvotes %> 
      
      </div>
      </div>
          <div class = "inline" id = "report"> 
      <%= link_to "Report", report_link_path(oth)  %>
      </div>
  </div>
  <% end %>
  </div>
  
  <div class = "leftalign" id = "addlink">
    <%= link_to "Add Link", new_link_path  %> 
  </div>

  <script>
    
    function toggleHidden(id) {
      
      if ($(id).css('display') == "none") {
          $(id).addClass('animated fadeIn');
          $(id).css('display', 'block') ;
           
      }
      else {
          $(id).css('display', 'none') 
      }
     
    }
    
      function sort_name() {
        var intern = document.getElementById("Internships");
        var grant = document.getElementById("Grants");
        var inspiration = document.getElementById("Inspiration");
        var job = document.getElementById("Jobs");
        var other = document.getElementById("Other");
        
        [].map.call( intern.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        intern.appendChild( elem );
        });
        
        [].map.call( grant.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        grant.appendChild( elem );
        });
        
        [].map.call( inspiration.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        inspiration.appendChild( elem );
        });
        
        [].map.call( job.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        job.appendChild( elem );
        });
        
        [].map.call( other.children, Object ).sort( function ( a, b ) {
        return a.className.localeCompare(b.className)
        }).forEach( function ( elem ) {
        other.appendChild( elem );
        });
    }
    
    function sort_upvotes() {
        
        var intern = document.getElementById("Internships");
        var grant = document.getElementById("Grants");
        var inspiration = document.getElementById("Inspiration");
        var job = document.getElementById("Jobs");
        var other = document.getElementById("Other");
          
        [].map.call(grant.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        grant.appendChild( elem );
        });
        
        [].map.call(intern.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        intern.appendChild( elem );
        });
        
        [].map.call(job.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        job.appendChild( elem );
        });
        
        [].map.call(inspiration.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        inspiration.appendChild( elem );
        });
        
        [].map.call(other.children, Object ).sort( function ( a, b ) {
        return -a.className.match( /\d+/ ) - -b.className.match( /\d+/ );
        }).forEach( function ( elem ) {
        other.appendChild( elem );
        });
    }
    
  </script>
  

  
</body>
</html>