<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
<body>
    <div class = "site-wrapper">
    <div class = "container">
        <%= form_tag links_path do %>
        <div class = "row">
            <div class="col-xs-2">
                <div align="right"><img src="http://reillybasketball.com/wp-content/uploads/2013/06/cardinal.png" width = "60" height = "50"/></div>
            </div>
            <div class="col-xs-8">
            <h1><b><center><font family="Lato", color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b></h1>
            </div>
            <div class="col-xs-2">
                <img src="http://reillybasketball.com/wp-content/uploads/2013/06/cardinal.png" width = "60" height = "50"/>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12">
                <center><h1>Submit a New Link</h1></center>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-4">
                <div align="left"> <%= label :link, :name, 'Name of Link' %> </div>
            </div>
            <div class="col-xs-6">
                <%= text_field :link, 'name', size: "20" %>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-4">
                <div align="left"> <%= label :link, :url, 'Full URL' %> </div>
            </div>
            <div class="col-xs-6">
                <%= text_field :link, 'url', size: "30" %>
            </div>
        </div>
        
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-4">
                <div align="left"> <%= label :link, :category, 'Category' %> </div>
            </div>
            <div class="col-xs-6">
                <div class="dropdown">
                   <!-- Category Button 
                     <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Category:  <span class="selected"></span>
                        <span class="caret"></span>
                     </button> -->
                     
                     <!-- Dropdown menu 
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Get Acclimated & Get Inspired</a></li>
                        <li><a href="#">Get Smart & Get Informed</a></li>
                        <li><a href="#">Get Connected & Get Caught</a></li>
                        <li><a href="#">Get Experienced</a></li>
                        <li><a href="#">Get Organized</a></li>
                        <li><a href="#">Get Funded</a></li>
                        <li><a href="#">Get Hired</a></li>  -->
                        
                        <%= select :link, :category, ['Internships','Grants','Jobs','Inspiration','Other'], class: 'dropdown-menu' %>
                       
                </div>
            </div>
        </div>
        
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-4">
                <div align="left"> <%= label :link, :url, 'Comments (Optional)' %> </div>
            </div>
            <div class="col-xs-6">
                <%= text_field :link, 'comments', size: "30" %>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-4">
                <div align="left">
                <!-- <%= submit_tag 'Submit' %> -->
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                    Submit
                <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    
    
 
    
    <% if flash[:errors] %> 

    <% flash[:errors].each do |error, message| %>
    
    <div class = leftalign>
    <% message.each do|errorMsg|  %>
    
    <%= error + " " +  errorMsg %>
    
    </div> 
    <% end %>
      <% end %> 
    <% end %> 
    
    
    <!--<div class = "leftalign">-->
        
    <!--    <#% @link.errors.each do |attr, msg| %>-->
    <!--  <#%= msg %>-->
    <!--    <#% end %>-->
        
    <!--</div>-->
    
    <!--<#%end %>-->
    
    

</div>
</body>
</html>