<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
    <h1><b><center><font color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b></h1>
    
    <div class = "add">
        
        <%= form_for(@link) do |link| %>
        
          
         <%= link.label :name %>
          <%= link.text_field :name %> <br>
          
          <%= link.label :url %>
          <%= link.text_field :url %> <br>
          
          <%= link.label :category %>
          <%= link.select :category, ['Internships','Grants','Jobs','Inspiration','Other'] %> <br>
          
          <%= link.label :comments %> 
          <%= link.text_field :comments %> <br>
          
          <%= link.submit %>

    

        <% end %>
        
    </div>
    
    <div>
    
    <% if @link.errors.any? %> 

    <%= pluralize(@link.errors.count, "error") %> prohibited this from being saved
   <% @link.errors.each do |error, msg| %> 
       <%= msg %>
   <% end %>
   <% end %>
   
   </div>

</body>
</html>