<!DOCTYPE html>
<html>
<head>
 <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class = "row"> 

  <h1><b><center> <br>
   <font face="Roboto Mono", color="#000000", size="70">PC<br>SE</font></center></b>
   </h1>
   </div>
    
  <h2><b><center> 
  
  <div class= "animated fadeInDown">
   <font color="#99012">Request a Link</font></center></b>
   </div>
   </h2></br>
   
  <div class= "animated fadeInDown">
   <p><i><center>An administrator will be notified of your link request after submission for review.</center></i></p>
   </div>
 
        <div class = "animated fadeIn"> 
        <div class = "formalign"> 
        <%= form_for(@link) do |link| %>
          
          <div class="left"><div align="left">
          <p>Name</p></div>
          </div>
          <div class = "right"> 
          <%= link.text_field :name %> <br>
          </div><br><br>
          
          <div class="left"><div align="left">
          <p>URL</p></div>
          </div>
          
          <div class = "right"> 
          <%= link.text_field :url %> <br>
          </div><br><br>
          
          <div class= "left"><div align="left">
          <p>Category</p></div>
          </div>
          
          <div class = "right"> 
          <%= link.select :category, ['Get Acclimated & Get Inspired','Get Smart & Get Informed','Get Connected & Get Taught','Get Experience','Get Organized', 'Get Funded', 'Get Hired'] %></br></br>
          </div><br><br>
          
          <div class = "left"><div align="left">
          <p>Comments</p></div>
          </div>
          
          <div class = "right"> 
          <%= link.text_field :comments %>
          </div><br><br><br>
         
         <div class = "inline" id = "linksAdd"> 
          <%= button_tag(type: 'submit', class: "btn btn-large btn-search btn-primary") do %>
            <i class="icon icon-search"></i> Request
          <% end %>
          <%= link_to "Back", links_path %>
          </div>
      
      </div>
      </div>
    

        <% end %>
        
    </div>
    

    
    <% if @link.errors.any? %> 

     <div class = "leftalign" id = "errors" align = "center">
      <div class = "animated flash"> 
    <%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved
    </div>
    </div>
    
    <div class = "leftalign" align = "center" >
   <% @link.errors.each do |error, msg| %> 
       
       <div class = "indent">
      <li> 
        <%= "#{error} #{msg}" %>
      </li>
      
        </div>
        
   <% end %>
   <% end %>
   


</body>
</html>