<!DOCTYPE html>
<html>
<head>
 
</head>
<body>
    <div class = "logo"> 
  <h1><b><center> <br>
   <font color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b>
   
   </h1>
   </div>
    
    
  <h2><b><center> 
   <font color="#99012">Add a Link</font></center></b>
   </h2>
 
        
        <div class = "formalign"> 
        <%= form_for(@link) do |link| %>
          
          <div class="left">
         <%= link.label :name %>
             
          </div>
          <div class = "right"> 
          <%= link.text_field :name %> <br>
          </div>
          
           <div class="left">
          <%= link.label :url %>
          </div>
          
          <div class = "right"> 
          <%= link.text_field :url %> <br>
          </div>
          
          <div class= "left"> 
          <%= link.label :category %>
          </div>
          
          <div class = "right"> 
          <%= link.select :category, ['Get Acclimated & Get Inspired','Get Smart & Get Informed','Get Connected & Get Taught','Get Experience','Get Organized', 'Get Funded', 'Get Hired'] %> <br><br>
          </div>
          
          <div class = "left"> 
          <%= link.label :comments %> 
          </div>
          
          <div class = "right"> 
          <%= link.text_field :comments %>
          </div>
         
         <div class = "inline" id = "linksAdd"> 
          <%= link.submit %>
          <%= link_to "Back", links_path %>
          </div>
      
      </div>
    

        <% end %>
        
    </div>
    

    
    <% if @link.errors.any? %> 

     <div class = "leftalign" id = "errors">
      <div class = "animated flash"> 
    <%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved
    </div>
    </div>
    
    <div class = "leftalign" >
   <% @link.errors.each do |error, msg| %> 
       
       
       <div class = "indent">
      <li> 
        <%= "#{error} #{msg}" %>
      </li>
      
        </div>
        
   <% end %>
    </div>
   <% end %>
   


</body>
</html>