<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->

<head>
  <!--<link rel="stylesheet" href="animate.css">
  <link rel="stylesheet" href="bootstrap.css">-->
</head>
<body>
    <%= form_tag report_path(@link), :method => :put do %>
    <div class = "site-wrapper">
    <div class = "container">
        <div class = "row">
            <div class="col-xs-2">
                <div align="right"><img src="http://reillybasketball.com/wp-content/uploads/2013/06/cardinal.png" width = "60" height = "50"/></div>
            </div>
            <div class="col-xs-8">
            <h1><b><center><font family="Lato", color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b></h1>
            </div>
            <div class="col-xs-2">
                <img src="http://reillybasketball.com/wp-content/uploads/2013/06/cardinal.png" width = "60" height = "50"/>
            </div>
        </div>
        <div class = "row">
            <div class="col-xs-12">
                <center><h1><b>Report a Link</b></h1></center>
            </div>
            <div class="col-sm-12">
                <center><h2 style="color:#990012"><%= @link.name %></h2></center>
            </div>
            <div class="col-sm-12">
                <center><p style="color:#990012"><i><%= @link.url %></i></p></center>
        </div>
        

        <div class "row">
            <div class="col-xs-4 col-xs-offset-4">
                    <center><b>Why are you reporting this link?</b></center></br>
            </div>
            
            <div class="col-xs-5 col-xs-offset-4">
                    <label>
                        <%= radio_button_tag :reportreason, 'Broken Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Broken Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Miscategorized/mislabeled Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Miscategorized/mislabeled Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Inappropriate Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Inappropriate Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Other' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Other:
                        <%= text_field_tag :otherreportreason %></span>
                    </label>
                    <%= hidden_field_tag "link_id", @link.id %>
            </div>
        </div>
        
        
        
        
        
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-5">
                <div align="center">
                <%= submit_tag %>
                
                </div>
            </div>
        </div>
        
    </div>
    </div>
    <% end %>
</body>
</html>