<!DOCTYPE html>
<html>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
-->
 <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700' rel='stylesheet' type='text/css'>

<head>
  <!--<link rel="stylesheet" href="animate.css">
  <link rel="stylesheet" href="bootstrap.css">-->
</head>
<body>
    <%= form_tag report_path, :method => :put do %>

   <!--<div class = "logo"> 
      <h1><b><center><font color="#99012">Patricelli Center for Social Entrepreneurship</font></center></b></h1>
   </div>-->
   <div class = "row"> 

  <h1><b><center> <br>
   <font face="Roboto Mono", color="#000000", size="70">PC<br>SE</font></center></b>
   </h1>
   </div>

  <h2><b><center> 
  <div class= "animated fadeInDown">
   <font color="#99012">Report a Link</font></center></b>
   </h2></br>
   </div>
  <div class= "animated fadeInDown">
   <p><i><center>An administrator will be notified of your link report after submission for review.</center></i></p>
   </div>
   <div class="row">
            <div class="col-sm-12">
                <div class = "animated fadeInDown">
                <center><p><b>What link would you like to report?</b></p></center>
                <%= text_field_tag :reportname %>
                </div>
            </div>
    </div>
<div class = "animated fadeIn"> 
        <!--<div class "row">-->
            <div class="col-xs-4 col-xs-offset-4">
                    <center><b>Why are you reporting this link?</b></center></br>
            </div>
            
            <div class="col-xs-5 col-xs-offset-4">
                    <label>
                        <%= radio_button_tag :reportreason, 'Broken Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Broken Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Miscategorized/mislabeled Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Miscategorized/mislabeled Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Inappropriate Link' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Inappropriate Link</span>
                    </label></br></br>
                    <label>
                        <%= radio_button_tag :reportreason, 'Other' %>
                        &nbsp;&nbsp;<span style="font-weight:normal;">Other:
                        <%= text_field_tag :otherreportreason, '', size: "45" %></span>
                    </label>
            </div>
        <!--</div>-->
        
        
        
        
        
        <div class = "row">
            <div class="col-xs-2 col-xs-offset-5">
                <div align="center">
                    <br>
                <%= button_tag(type: 'submit', class: "btn btn-large btn-search btn-danger") do %>
                     <i class="icon icon-search"></i> Report
                <% end %>
                <%= link_to "Back", links_path %>
                </div>
            </div>
            
        </div>
        
        

    <% end %>
    </div>
</body>
</html>