$("#<%= @link.name.gsub(" ", "") %>").remove("");
$("#<%= @link.name.gsub(" ", "") + "votes" %>").append("<div class = 'inline' id = <%= @link.name.gsub(" ", "") %>> <%= @link.upvotes %> </div>");
$("#<%= @link.name.gsub(" ", "") + "thumbup" %>").html("<%= escape_javascript(render partial: 'thumb') %>");
