$("#<%= @link.name %>").remove("");
$("#<%= @link.name + "votes" %>").append("<div class = 'inline' id = <%= @link.name %>> <%= @link.upvotes %> </div>");
$("#<%= @link.name + "thumbup" %>").html("<%= escape_javascript(render partial: 'thumb') %>");
